.socials {
	padding: 1rem 0;

	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}

	li {
		padding: 0 0.325rem;
	}

	a,
	svg {
		display: block;
	}

	svg {
		fill: rgba(#776e65, 0.85);
	}
}

.svg-email {
	height: 3.38rem;
	width: 3rem;

	@include smaller {
		height: 1.69rem;
		width: 1.5rem;
	}
}

.svg-github,
.svg-gitlab {
	height: 3.26rem;
	width: 3rem;

	@include smaller {
		height: 1.63rem;
		width: 1.5rem;
	}
}

.svg-twitter {
	height: 2.76rem;
	width: 3rem;

	@include smaller {
		height: 1.38rem;
		width: 1.5rem;
	}
}

.svg-npm {
	height: 3rem;
	width: 8rem;

	@include smaller {
		height: 1.5rem;
		width: 4rem;
	}
}

.svg-linkedin {
	height: 3.26rem;
	width: 3rem;

	@include smaller {
		height: 1.63rem;
		width: 1.5rem;
	}
}

.svg-logo {
	height: 6.26rem;
	width: 6.26rem;

	@include smaller {
		height: 3.13rem;
		width: 3.13rem;
	}
}

.svg-codepen,
.svg-google-plus {
	height: 3rem;
	width: 3rem;

	@include smaller {
		height: 1.5rem;
		width: 1.5rem;
	}
}
